<div class="header-container">

    <img class="mainIcon" src="../../../assets/img/istreaming.png" alt="iStreaming-logo" routerLink="/">
    <div class="searchBar">
        <div class="searchBar-input">
            <input matInput
            [(ngModel)] = "searchData" [ngModelOptions] = "{standalone: true }">
            <button class="search-bttn" (click)="findMovieByTitle()">GO</button>
        </div>
        <div class="searchBar-results">
            <!-- SEARCHBAR CONDITIONALS TODO -->
        </div>
    </div>
    <app-hamb-modal></app-hamb-modal>
</div>