.home-container {
    background: rgb(6, 126, 68);
    background: linear-gradient(180deg, rgba(6, 126, 68, 1) 2%, rgba(5, 111, 26, 1) 28%, rgba(53, 106, 6, 1) 92%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies-div {
    height: 100%;

    margin: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies-rooster {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;

    /* margin: 3%; */

    >* {
        flex-basis: 25%;
        margin-bottom: 5%;
    }

    margin-bottom: 2%;


    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.posterclass {
    :hover {
        cursor: pointer;
    }

    border: solid 5px;
}


// SWING EFFECT ON HOVER
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}