<button mat-icon-button [matMenuTriggerFor]="menu">
    <i-tabler name="menu-2" class="burger"></i-tabler>
</button>

<mat-menu #menu="matMenu">
    <div mat-menu-item (click)="$event.stopPropagation()">
        <button mat-icon-button [matMenuTriggerFor]="login">
            LOGIN
        </button>
    </div>
    <div mat-menu-item (click)="$event.stopPropagation()">
        <button mat-icon-button [matMenuTriggerFor]="register">
            REGISTER
        </button>
    </div>
</mat-menu>

<mat-menu #login="matMenu">
    SOY LOGIN
</mat-menu>
<mat-menu #register="matMenu">
    SOY REGISTER
</mat-menu>